.places {
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    margin-left: 20px;

}

.place {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}


.place h2 {

    font-size: 30px;
}
